.breadcrumb-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permite que las migas de pan se ajusten a múltiples líneas si es necesario */
  color: #000;
}

.breadcrumbs {
  list-style: none; /* Elimina los puntos de la lista */
  display: flex; /* Hace que los elementos de la lista se dispongan en línea */
  padding: 0;
  margin: 0;
}

.breadcrumbs li::before {
  content: "/";
  color: #000;
  margin-right: 0.4em; /* Espacio entre la barra diagonal y el texto */
  margin-left: 0.4em; /* Espacio entre la barra diagonal y el texto */

}

.breadcrumbs li:first-child::before {
  content: "";
} /* Elimina la barra diagonal antes del primer elemento */

.breadcrumbs a {
  color: #004A9C; /*7,01:1*/
  text-decoration: none;
}

.breadcrumbs a:hover { 
  text-decoration: underline;
} /* Sirve para indicar al usuario que está encima del enlace mediante un subrayado */
