/* 3 tramos: <=480px | 481px-1919px | >=1920px+ */

/* Tramo 1: pantalla pequeña (menos de 480px) */
* {
  box-sizing: border-box; /* Asegura que padding y border se incluyan en el ancho total permitiendo que nada desborde, así en vez de tener 50px de tamaño+5 de padding +5 de marging tiene que apañarse con los 50px para meter todo*/
  /*Por defecto es content-box. Ancho= width + padding + border*/
}
@media screen and (max-width: 480px) {
  :root {
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-base: 14px;
  }

  header, body, main {
    padding: var(--spacing-lg) var(--spacing-md);
  }

  nav[aria-label="Índice alfabético"] ul { /* Columnas flexibles según ancho */
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr)); 
  }
  
  form {
    padding: var(--spacing-md) var(--spacing-lg);
  }
  
  form p {
    margin-bottom: var(--spacing-md);
  }
}


/*Tramo 2: pantalla mediana (481-1919 px)*/

@media screen and (min-width: 481px) and (max-width: 1919px) {
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.75rem;
    --font-size-base: 16px;

  }

  header, body, main {
    padding: var(--spacing-xl) var(--spacing-lg);
  }


  nav[aria-label="Índice alfabético"] ul {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }

  form {
    padding: var(--spacing-lg);
  }

  form p {
    margin-bottom: var(--spacing-lg);

  }
}



/* Tramo 3: Pantalla grande (1920px+) */

@media screen and (min-width: 1920px) {
  :root {
    --font-size-h1: 4rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2.25rem;
    --font-size-base: 20px;

  }

  header, body, main {
    padding: var(--spacing-xxl) var(--spacing-xl);
  }

  nav[aria-label="Índice alfabético"] ul {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  }

  form {
  padding: var(--spacing-xxl);
  }

  form label {
    text-align: left;
    margin-bottom: var(--spacing-xl) var(--spacing-xl);
  }

  form p {
    margin-bottom: var(--spacing-xxl);
  }
}

/* Impresión*/
@media print {
  @page {
  size: A4; /* Tamaño del papel */
  }
  blockquote, table, tr, tbody, thead, th, td, img {
    page-break-inside: avoid; /* Evita que los bloques se dividan entre páginas */
  }
  table {
    display: table !important;
    zoom: 70%;
  }
  *{
    background: var(--color-white);
    color: var(--color-text);
    orphans: 4; /* Controla las líneas huérfanas al final de una página */
    widows: 2; /* Controla las líneas viudas al comienzo de una página */
  }
  input:invalid, textarea:invalid{
    border-color: var(--color-text);
  }
  body{
    font-size: 12pt;
  }
  a{
    color: var(--color-primary);
    text-decoration: underline;
  }
  a:after {
    content: " (" attr(href) ")"; /* Muestra la URL entre paréntesis después del enlace */
  }
  span, .breadcrumb, nav, aside, .sr-only, h3 a, .indice, .decorativo, iframe, button {
    display: none;
  }
  img {
    filter: grayscale(100%);
  }
  nav[aria-label="Mapa del sitio web"]{
    display: initial; /* Mostrar el mapa del sitio web en impresión (devolver a su valor por defecto) */
  }
  /* FORMULARIOS HAY QUE IMPRIMIRLOS???? */

}